body{
    font-family:"Fira Sans Condensed", sans-serif;
    background:  palevioletred;
    color:black

}














h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%
    
}
